{% extends 'ecommerce_app/base.html' %}
{% load static %}
{% block title %}
    {{ product.name }} |
{% endblock %}

{% block content %}
<div class="w-full mx-auto px-4 py-8 bg-gradient-to-br from-indigo-900 via-teal-500 to-sky-300 min-h-[100vh]">
    <div class="md:flex md:items-center md:justify-between mb-6 ">
        <div class="md:w-1/2">
            <h1 class="text-3xl font-semibold mb-2">{{ product.name }}</h1>
            <p class="text-white text-lg mb-4">₹ {{ product.price }}</p>
            <p class="text-white mb-4">{{ product.description }}</p>
            <p class="text-white mb-4">Stock: available </p>
            <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add to Cart" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block " >
            </form>
        </div>
        <div class="md:w-1/2 md:ml-8">
            {% if product.image %}
            <!-- <p>{{ product.image.url }}</p> -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-auto rounded-lg shadow-md">
            {% else %}
            <img src="{% static 'images/default_product_image.jpg' %}" alt="Default Product Image" class="w-full h-auto rounded-lg shadow-md">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
